.dialog-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #777;
}

.dialog {
  background-color: #fff;
  max-height: 500px;
  max-width: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__header {
    background-color: #ddd;
    display: flex;
  }

  &__header-title-container {
    overflow: hidden;
    flex: 1;
  }

  &__header-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__content {
    display: flex;
  }

  &__content-block {
    &_left {
      width: 30%;
      border-right: 1px solid #ccc;

    }

    &_right {
      width: 70%;
      overflow-y: scroll;
      max-height: 350px;
    }
  }

  &__footer {
    background-color: #ddd;
    word-break: break-word;
    text-align: center;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 500px;
  width: 100%;
}
